@model TakipSistemi.Models.LoginData

<link rel="stylesheet" type="text/css" href="~/css/login.css">


<hr />

    <div class="col-md-4">
        <form asp-action ="Register" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="LoginHeader">
                <h4>Welcome</h4>
            </div>

            <div class="form-group">
                <input type="email" asp-for="EmailAddr" class="form-control" placeholder="Email"/>
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="checkbox" onclick="ShowPassword()">Show Password
            </div>

            <div class="LoginButton">
                <br />
                <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" />
               
                <br />
                <span id="LoginError" class="text-danger">@TempData["message"]</span>
            </div>

            <br />
            <div class="RegisterButtonDiv">
                <h6> Don't have an account?</h6>
                <a asp-action="Register" asp-controller="Login"> Sing Up </a>
            </div>


        </form>

    </div>

    <script src="~/js/login.js">  </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
