
.form-control{
    border-radius:15px;
    background-color:lightgray;
    border:solid 1px black;
    
}

.btn {
    border-radius: 25px;
    display: block;
    width: 80%;

    background-color: lightsalmon;
}

.LoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    background-color: antiquewhite;
}

.LoginHeader{
    background-color:orange;
    text-align:center;
}

.RegisterButtonDiv {
    display: grid;
    justify-content: right;
    background-color: yellow;

}

.showpass{
    position:fixed;
}