@model TakipSistemi.Models.Maps.Location



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div id="map" class="col-9" style="height:800px;"> Google Maps Div Area</div>
           
            <div class="col-3">
                <textarea id="CreateLog" readonly style=" resize:none;min-width:50px; max-width:100%;min-height:50px;height:100%;width:100%; class="form-control"  name="textname" rows="div.map"></textarea>
            </div>
        </div>
    </div>

    @*// &callback=initMap kaldırıldı ve en alta script içerisine  initMap(); olarak yazıldı.*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9VhhFBSrb-1GjySwh7QhJBuD7HKFqq7E"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="~/js/mapsapi/init/init.js"></script>

    <script type="text/javascript" src="~/js/mapsapi/marker/marker.js"></script>

    <script type="text/javascript" src="~/js/mapsapi/polyline/polyline.js"></script>

    <script type="text/javascript" src="~/js/mapsapi/findme/findme.js"></script>

    <script>
        initMap();
    </script>

    <div>      
        <input onclick="ShowMarkers()" type="button" name="" value="Show Markers"></input>
        <input onclick="HideMarkers()" type="button" name="" value="Hide Markers"></input>
        <input onclick="DeleteMarkers()" type="button" name="" value="Delete Markers"></input>
        <button id="CreateFindMeBtn" class="btn btn-success" onclick="FindMe(map)">Where Am I?</button>
    </div>


    <div class="form-control">
        <div class="row" style="background-color:aquamarine">
            <div class="col-lg-3 col-md-6 col-sm-12">

                <label for"RouteName">Enter Route Name</label>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <input type="text" placeholder="Route Name" id="RouteName" required> </input>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <input class="btn btn-success" onclick="Save()" type="button" name="" value="Save"></input>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <input class="btn btn-secondary" onclick="Undo()" type="button" name="undo" value="Undo" id="BtnUndo"></input>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-2">
            <a class="btn btn-info" style="text-decoration:none;background-color:orange" asp-controller="Map" asp-action="List" role="button">Go to List</a>
        </div>
    </div>


</body>


<footer>
</footer>




</html>




















