
<h2>@TempData["msg"]</h2>

<div>
    <a class="btn btn-info   m-1" style="text-decoration:none" asp-controller="Map" asp-action="List" role="button">Back to List</a>
    <a class="btn btn-info   m-1" style="text-decoration:none" asp-controller="Map" asp-action="Create" role="button">Back to Main Menu</a>
</div>

