@model List< TakipSistemi.Models.Entities.Coordinate>
@ViewData["id"]







<div>
    <h4>Coordinate</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col">
                guzergah bilgisi eklenecek
                
            </div style>
            <div class="col-lg-10" style="background-color:lightcyan">
                <div id="DetailMap" style="height:700px;width:100%">div area</div>
            </div>

        </div>
    </div>
</div>



<div>
    <a asp-action="List">Back to List</a>
    <a asp-action="Create">Back to Main Menu</a>
</div>




    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9VhhFBSrb-1GjySwh7QhJBuD7HKFqq7E&callback=initMap"></script>
    <script type="text/javascript" src="~/js/mapsapi/drawroute/drawroutefromdb.js"></script>
    <script type="text/javascript" src="~/js/mapsapi/marker/marker.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    var  coordinates = [];
    var id  = @ViewData["id"]; // details basıldıgı zaman alacagı deger
 
    // fonksiyon cagirildi an verileri al
    $.ajax({
        type: "POST",
        url: "/Map/GetCoordinate",
        data: { id : id },
        success: function (response) {

            for(i=0;i<response.length;i++)
            {
                let coordinate={ lat: parseFloat( response[i].lat), lng: parseFloat(response[i].lng)};
                coordinates.push(coordinate);
            }
            DrawRoute(coordinates);

        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
     
</script>


