@model TakipSistemi.Models.Maps.Location


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>


    <style>

        .layout {
            display: grid;
            grid-template-columns: 2fr 1fr;
            /* grid-template-rows: 1fr 1fr;*/
            gap: 8px;
        }

            .layout > div {
                border: solid;
                border-color: black;
            }

        #map {
            height: 800px;
            width: 1200px;
        }

    </style>

</head>

<body>


    <section class="layout">
        <div id="map">div area</div>
        <div>
            <h2 style="text-align:center">Output</h2>
            <textarea id="text" name="textname" rows="30" cols="50"></textarea>
        </div>
    </section>


    <div>
        @*<input onclick="MyLogScript()" type="button" name="btn" value="Log"></input>*@
        <input onclick="DrawRoute()" type="button" name="DrafDB" value="DrawRoute"></input>
        <input onclick="Undo()" type="button" name="undo" value="Undo" id = "BtnUndo" ></input>

        <input onclick="ShowMarkers()" type="button" name="" value="Show Markers"></input>
        <input onclick="HideMarkers()" type="button" name="" value="Hide Markers"></input>
        <input onclick="DeleteMarkers()" type="button" name="" value="Delete Markers"></input>
        <input onclick="Log()" type="button" name="" value="Log"></input>
       


    </div>

    <div>
        
        <input type="text" placeholder="Entr Route Name" id="RouteName"> </input>
        <input onclick="Save()" type="button" name="" value="Save"></input>
    </div>


















    
</body>


<footer>
</footer>

    <script type="text/javascript" src="~/js/mapsapi/init/init.js"></script>
    <script type="text/javascript" src="~/js/mapsapi/marker/marker.js"></script>
    <script type="text/javascript" src="~/js/mapsapi/polyline/polyline.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9VhhFBSrb-1GjySwh7QhJBuD7HKFqq7E&callback=initMap"></script>


</html>




















