@model IEnumerable<TakipSistemi.Models.Entities.RoadRoute>




<div class="container " style="border:solid 1px black">
    <div class="row">

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <div class="col" >
                    <div class="d-flex flex-row bd-highlight" >
                        <div class="p-2 bd-highlight" >
                            <a class="btn m-1" style="text-decoration:none; background-color:orange" asp-controller="Map" asp-action="Create" role="button">New Route</a>
                        </div>
                    </div>
                </div>
            }

        }


        <div class="col" >
            <div class="d-flex flex-row-reverse bd-highlight" >
                <div class="p-2 bd-highlight" >
                    <a class="btn m-1" style="text-decoration:none; background-color:yellowgreen" asp-controller="Map" asp-action="List" role="button">Refresh List</a>
                </div>
            </div>
        </div>
        
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                <h4> @Html.DisplayFor(modelItem => item.RouteName) </h4>
            </td>
            <td>
                <div class="row" >
                    <div class="d-flex justify-content-end">
                        <a role="button" class="btn btn-info   m-1" style="text-decoration:none" asp-controller="Map" asp-action="Details" asp-route-id="@item.RouteId">Details</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <a role="button" class="btn btn-danger   m-1" style="text-decoration:none" asp-controller="Map" asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
                                }

                            }
                    </div>
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>
